.div {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(241, 137, 155);
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: rgb(238, 128, 146);
  transform: translateY(-3px);
}

.button:active {
  background-color: rgb(238, 128, 146);
  transform: translateY(0);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 4px 3px rgb(234, 112, 133);
}

.close {
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.close:hover {
  transform: translateY(-3px);
}
